<div class="page">
    <div class="searchContentList">
        <div class="headerBlock row">
            <div class="Counter">
                <label class="count">{{totalResult}}</label><br>
                <label class="news">News</label>
            </div>
            <div class="titles">
                <div class="heading1">{{TitleName}} Breaking News</div>
                <div class="heading2">Reports are still coming in, and the situation is evolving; we will update this story as more confirmed information becomes available.</div>
            </div>
        </div>
        <div class="results">
            <!-- Search Result: -->
            <div class="col-md-4 newsBlock" *ngFor="let news of searchResult">
                <!-- <div class="block row" *ngIf='news.description!=""'>

                    <div class="imgBlock" *ngIf="news.urlToImage!=null">
                        <img [src]="news.urlToImage" class="image">
                    </div>
                    <div class="imgBlock" *ngIf="news.urlToImage==null">
                        <img src="https://img.freepik.com/premium-vector/breaking-news-background-style_23-2148525710.jpg"
                            class="image">
                    </div>

                    <div class="content">
                        <label class="title">{{news.title}}</label><br>
                        <p>{{news.description}}</p>
                        <div class="author">
                            <div>
                                <img
                                    src="https://tse4.mm.bing.net/th/id/OIP.z2F78QVOUPcyHRhXTYGSyAHaHa?cb=12ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3">
                            </div>
                            <div class="authorInfo">
                                <label>{{news.author}} ({{news.source.name}})</label><br>
                                <label>{{news.publishedAt | date:'dd/MM/yyyy hh:MM a'}}</label>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="">
                    <div class="col-md-12 img">
                        <div class="newsImg" *ngIf="news.image!=null">
                            <img [src]="news.image" class="newsImage" (error)="news.image='https://img.freepik.com/premium-vector/breaking-news-background-style_23-2148525710.jpg'">
                        </div>
                        <div class="newsImg" *ngIf="news.image==null">
                            <img src="https://img.freepik.com/premium-vector/breaking-news-background-style_23-2148525710.jpg"
                                class="image">
                        </div>
                        <div class="newsContent" [ngStyle]="blockStyle">   
                            <div class="newsTitle">{{news.title}}</div>
                            <div class="newsAuthor">
                                <label>{{news.author}}</label><br>
                                <!-- <label>{{news.published | date:'dd/MM/yyyy hh:MM a'}}</label> -->
                            </div>
                            <div class="newsDescription">
                                <p>{{news.description}}</p>
                            </div>
                            <div>
                                <a [href]="news.url" target="_blank">Read More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>